@import '../../styles/variables.scss';

$AppBar-height: 64px;

.root {

}

.header {
  @include box-shadow;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: $AppBar-height;
  background-color: $primary-color;
}

.title {
  @include text-overflow-nicely;
  font-size: 24px;
  color: $light-text-color;
  line-height: $AppBar-height;
  padding-left: $gutter-padding;
  padding-right: $gutter-padding;
}

.spacer {
  height: $AppBar-height
}
